
.link-custom {
    color: #8D9D90 !important;
}

.link-custom-bright {
    color: #5C6558 !important;
}

.button-custom {
    background-color: #8D9D90;
    border-color: #ABC4A1;
    color: whitesmoke;
}

.button-custom:hover {
    background-color: #ABC4A1;
    border-color: #ABC4A1;
    color: whitesmoke;
}

.button-custom:active {
    background-color: #ABC4A1;
    border-color: #ABC4A1;
    color: whitesmoke;
}